<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacroFloodingTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MacroFloodingTool.Settings>
            <setting name="T1" serializeAs="String">
                <value />
            </setting>
            <setting name="T2" serializeAs="String">
                <value />
            </setting>
            <setting name="T3" serializeAs="String">
                <value />
            </setting>
            <setting name="T4" serializeAs="String">
                <value />
            </setting>
            <setting name="T5" serializeAs="String">
                <value />
            </setting>
            <setting name="T6" serializeAs="String">
                <value />
            </setting>
            <setting name="T7" serializeAs="String">
                <value />
            </setting>
            <setting name="T8" serializeAs="String">
                <value />
            </setting>
            <setting name="T9" serializeAs="String">
                <value />
            </setting>
            <setting name="T10" serializeAs="String">
                <value />
            </setting>
            <setting name="T11" serializeAs="String">
                <value />
            </setting>
            <setting name="T12" serializeAs="String">
                <value />
            </setting>
        </MacroFloodingTool.Settings>
    </userSettings>
</configuration>